html {
    font-family: 'Arial';
}
header {
    font-size: 50px;
    font-family: 'Arial';
    background-color: rgb(244, 118, 120);
    text-align: center;
    justify-content: center;
    height: 40%;
    padding-top: 4%;
    padding-bottom: 1%;
}
/* div {
    border: solid;
    border-width: thin;
} */
form {
    margin-top: 75px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
input {
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

